@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');

body{
    height: 100%;
    background-color: white;
    font-family: 'ABeeZee', sans-serif;
}
nav {
  margin-bottom: 5vh;
}

.band{
  height: 10vh;
  background-color: rgb(112, 193, 247);
  color: black;
}

span{
  color: black;
}
.logo {
    width: 20vh;
    height: auto;
}

form {
  padding: 2vh;
} 

.globalelement{
  margin: 20px;
}

.btn-container {
    width: 0 auto;
    padding: 30px;
    text-align: center;
}

label
{
  color: black;
}


/* Set height of body and the document to 100% to enable "full page tabs" */
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }